asgiref==3.2.7
asn1crypto==0.24.0
beautifulsoup4==4.8.0
bs4==0.0.1
camelcase==0.2
certifi==2019.6.16
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2.27
django-heroku==0.3.1
dnspython==1.16.0
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
mysql-connector==2.2.9
numpy==1.18.4
pandas==1.0.4
psycopg2==2.8.5
pycparser==2.19
pymongo==3.10.1
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySocks==1.7.0
python-dateutil==1.5
pytz==2019.2
requests==2.22.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.12.0
sklearn==0.0
soupsieve==1.9.2
sqlparse==0.3.0
threadpoolctl==2.1.0
urllib3==1.24.2
whitenoise==4.1.3
